# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Carpeta de compilación de Dart
.build/
.dart_tool/

# Carpeta de dependencias de Flutter
.pub/

# Carpeta de compilación de Flutter
build/

# Archivos temporales generados por Flutter
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework/App
**/ios/Flutter/Flutter.framework/Flutter

# Carpeta específica de Android
**/android/build/
**/android/app/build/

# Carpeta específica de macOS
**/macos/Flutter/Flutter.xcworkspace/contents.xcworkspacedata

# Carpeta específica de web
**/web/assets/

# Archivos de configuración de Android Studio
android/gradle.properties
android/local.properties

# Archivos de configuración de Xcode
ios/Runner.xcodeproj/project.pbxproj
macos/Runner.xcodeproj/project.pbxproj

# Archivos de configuración de VS Code
.vscode/

